<% @page_title = @article.title %>
<h1><%= @article.title %></h1>

<% if current_member %>
    <div class ="toolbar"><%= link_to "編集", [:edit, :admin,@article] %></div>
<% end %>

<table class="attr">
    <tr>
        <th width="100">タイトル</th>
        <td><%= @article.title %></td>
    </tr>
    <tr>
        <th >本文</th>
        <td><%= simple_format(@article.body) %></td>
    </tr>
    <tr>
        <th>掲載開始日時</th>
        <td><%= @article.released_at.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
    <tr>
        <th>連載終了日時</th>
        <td><%= @article.expired_at.try(:strftime, "%Y/%m/%d %H:%M") %></td>
    </tr>
    <tr>
        <th>会員限定</th>
        <td><%= @article.member_only? ? "○" : "ー" %></td>
    </tr>
    <% if @article.youtube_url? %>
    <tr>
        <th>参考動画</th>
        <td><iframe width="440" height="215" src="https://www.youtube.com/embed/<%= @article.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
    </tr>
    <% end %>
    <tr>
        <th>カテゴリ</th>
        <% @article.categories.each do |category| %>
            <td><%= category.name %></td>
    </tr>
<% end %>
</table>