<%= image_tag "rails-logo.svg", size: "272x48", alt: "Wakatta"%>
<nav class="menubar">
    <ul>
        <%= menu_link_to 'TOP', :root%>
        <%= menu_link_to '投稿', :posts%>
        <%= menu_link_to 'ブログ', :posts%>
        <%= menu_link_to '会員名簿', :posts%>
        <%= menu_link_to '管理ページ', :posts%>
    </ul>
</nav>