<% @page_title = "マイアカウント情報の編集"%>

<h1><%= @page_title%></h1>

<div class="toolbar"><%= link_to "マイアカウントに戻る", :account%></div>

<%= form_with model: @member, as: "account" do |form|%>
    <%= render "shared/member_form", form: form %>
    <div><%= form.submit %></div>
<%end%>